<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Outlook_SaveAttachment.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Outlook_SaveAttachment.Properties.Settings>
            <setting name="AttachmentFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="MaxAttachmentSize" serializeAs="String">
                <value>104857600</value>
            </setting>
            <setting name="MinAttachmentSize" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ExcludedExtensions" serializeAs="String">
                <value>.exe,.bat,.dll,.html,.dat</value>
            </setting>
            <setting name="Active" serializeAs="String">
                <value>False</value>
            </setting>
        </Outlook_SaveAttachment.Properties.Settings>
    </userSettings>
</configuration>